%h2
  Editar conta
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email, "E-mail"
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password, "Senha"
    %i (deixe em branco caso não queira muda-lo)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation, "Confirme a senha"
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password, "Senha atual"
    
    %br/
    = f.password_field :current_password, autocomplete: "off"
    %p
  .actions
    = f.submit "Atualizar"

%br
%br
%br
%h3 Cancelar minha conta
%p
  Deseja cancelar sua conta? #{button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete}

