%h1 Novo registro

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  
  %div
    = f.label :nickname, "Apelido"
    %br
    = f.text_field :nickname, autofocus: true

  %div
    = f.label :email, "E-mail"
    %br
    = f.email_field :email

  %div
    = f.label :password, "Senha"
    %br
    = f.password_field :password

  %div
    = f.label :password_confirmation, "Repita a senha"
    %br
    = f.password_field :password_confirmation

  %div
    %br
    = f.submit 'Registrar'
