.comment.clearfix
	.content
		%p.comment_content= comment.comment
		%p.comment_author= "Feito por: " + comment.user.nickname
	.buttons
		= link_to "Editar", edit_post_comment_path(comment.post, comment)
		= link_to "Excluir", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }