%h3 Entrar
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password, "Senha"
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me, "Lembrar senha"
      %p
  .actions
    = f.submit "Entrar"
    %p
= render "devise/shared/links"
