= simple_form_for @post, { multipart: true } do |p|
	Adicionar uma imagem
	%br
	%br
	= p.file_field :image
	%p
	= p.label :title, "Titulo"
	%p
	= p.text_field :title, class: "posts_text"
	%p
	= p.label :content, "Conteúdo"
	%p
	= p.text_area :content, class: "class_conteudo"
	%p
	= p.submit