-if user_signed_in?
	%h1.new_post_btn=link_to "Novo post", new_post_path, class: "novoPostText"

- @posts.each do |p|
	.borda
		%h2.postlink= link_to p.title, p, class: "posts_text"
		%p.inform
			=time_ago_in_words(p.created_at)
			ago by
			= p.user.nickname
	%br