#content
.borda
	%h1= @post.title
	
	%p.inform
		Criado por
		= @post.user.nickname
		em
		=@post.created_at.day 
		&#47
		=@post.created_at.month
		&#47
		=@post.created_at.year
		%p= @post.content
		-if @post.image.url(:large) != "/images/large/missing.png"
			= image_tag @post.image.url(:large)


#decisao
	-if @post.user == current_user

		%br/

		= link_to "Editar", edit_post_path(@post), class: "button"
		|
		= link_to "Excluir", post_path(@post), method: :delete, data: { confirm: "Tem certeza que deseja excluir este post?"}, class: "button"

#comments
	%h2= @post.comments.count.to_s + " comentario(s)"
	= render @post.comments

	%br/

	%h3 Responda ao Forum
	= render "comments/form"

	

	