/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 
 *= require_tree .
 *= require_self
 */
body{
	font-family: 'Ubuntu Condensed', sans-serif;
  background-image: image-url("background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}

.top{
	width: 100%;
	max-width: 1140px;
	height: 100px;
	margin: 0 auto;
	background: #2F3353;
	-webkit-box-shadow: 1px 3px 3px #666666;
	#logo{
		p{
		color: white;
    	font-size: -webkit-xxx-large;
    	letter-spacing: 1px;
    	text-align: -webkit-center;
    	text-shadow: 1px 1px 3px #666666;
		}
	}
}

.newtop {
  text-align: -webkit-center;
  font-size: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 3px 3px #666666;
  -moz-box-shadow: 1px 3px 3px #666666;
  box-shadow: 1px 3px 3px #666666;
  color: #228B22;
  background: image-url("top.jpg");
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: fantasy;
}

.postlink{
	font-size: 1.5rem;
}

.patrocinio{
	text-align: -webkit-center;
}

.class_conteudo{
	min-width: 800px;
	max-width: 800px;
	min-height: 500px;
	max-height: 500px;
  font-size: 18px;
}

.class_conteudoDois{
  min-width: 800px;
  max-width: 800px;
  min-height: 500px;
  max-height: 500px;
  font-size: 18px;
}

.class_titulo{
	min-width: 800px;
	max-width: 800px;
  font-size: 20px;
}

.new_post_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.posts_text{
  
  min-width: 800px;
  max-width: 800px;
  font-size: 32px;
  text-decoration: none;
  color: BLACK;
}

.novoPostText{
  
  min-width: 800px;
  max-width: 800px;
  font-size: 20px;
  text-decoration: none;
  color: WHITE;
}

.barra_superior {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 3px 3px #666666;
  -moz-box-shadow: 1px 3px 3px #666666;
  box-shadow: 1px 3px 3px #666666;
  color: WHITE;
  background: #228B22;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.inform{
  font-size: 0.9rem;
  color: WHITE;
  text-align: -webkit-right;
}

.borda{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  border: dotted WHITE 2px;
  text-decoration: none;
}

.button{
  color: WHITE;
  border: 1px solid WHITE;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;

}

#comments{
    .comment{
      padding-bottom: 6em;
      margin-bottom: 1em;
      border-bottom: 1px solid BLACK;
      margin-bottom-bottom: 1em;
      .content{
        width:75%;
        float: left;
      }
      .buttons {
        width: 25%;
        float: left;
        font-size: .8em;
        text-align: right;
        padding-top: 2.3em;
        a{
          color: BLACK;
          border: 1px solid BLACK;
          padding: .5em 1em;
          border-radius: 0.2em;
          text-decoration: none;
        }
     }
    .comment_content{
      margin:0;
      padding:0;
      }

      .comment_author{
         color: WHITE;

    }
  }
  input[type="submit"]{
    background: transparent;
    border: 1px solid BLACK;
    color: BLACK;
    font-weight: 100;
    padding: .5em 1em;
    border-radius: .2em;

  }
   textarea{
      width: 100%;
      min-height: 200px;
      border: 1px solid BLACK;
      border-radius: .2em;
      margin: 1em 0;
    }
}
