!!!
%html
%head
	%title PROGama
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	%link{href:'http://fonts.googleapis.com/css?family=Ubuntu+Condensed', rel: 'stylesheet', type: 'text/css'}
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= favicon_link_tag
	= csrf_meta_tags
%body
	%p.barra_superior
		=link_to "Home", root_path
		|
		- if user_signed_in?
			=link_to "Editar conta", edit_user_registration_path
			|
			=link_to "Sair", destroy_user_session_path, method: :delete
			|
			Você está logado como: 
			=current_user.nickname
		- else
			=link_to "Registrar", new_user_registration_path
			|
			=link_to "Entrar", new_user_session_path
			
	.newtop
		%p PROGama Forum
		.patrocionio=image_tag asset_path('gama.jpg')

	.container
		%p.notice= notice
		%p.alert= alert
	.container
		=yield